.account-container {
    position: relative;
    width: 100%;

}

.account-container h1 {
    margin-bottom: 51px;
}

.account-container ul {
    list-style-type: none; 
}

.account-container li {
    font-size: 30px;
    font-weight: 600;
}

.account-info {
    background-color: #FFE19E;
    border-radius: 16px;
    padding: 15px 20px;
    max-width: 637px;
    font-size: 24px;
    margin: 120px 0 140px 0;
}

.account-img {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
}