.course-content {
    margin-top: 200px;
}

.course-section {
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-margin-top: 215px;
}

.course-section-container {
    width: 100%;
    height: 412px;
    position: relative;
    display: flex;
}

.course-section-img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.course-section-img img {
    width: 100%;
    height: 100%;
    max-width: 1440px;
}

.course-title-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    font-weight: bold;
    color: #002551;
}

.course-open-form {
    width: fit-content;
    height: 56px;
    padding: 0 25px;
    margin-top: 50px;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    color: #002551;
    transition: filter 0.3s ease;
    cursor: pointer;
}

.course-open-form:hover {
    filter: brightness(0.9);
}