.auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.auth-form-wrapper {
    padding: 30px 35px;
    border-radius: 35px;
    max-width: 450px;
    width: 100%;
    text-align: center;
    background-color: #00328d;
}

.auth-form h2 {
    margin-bottom: 20px;
    color: #fff;
}

.info-text {
    margin-bottom: 15px;
    color: #ffffff;
    font-size: 26px;
    font-weight: 600;
    background-color: #00328d;
    border: none;
    border-radius: 0;
}

.auth-form .policy {
    margin-top: 20px;
    color: #ffffff;
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.auth-form .policy p {
    margin: 0;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.terms-link {
    color: #fff; 
    text-decoration: none; 
    font-weight: bold; 
    display: inline-block;
}
.terms-link p{
    position: relative;
    bottom: 1px;

}

.terms-link a{
    text-decoration: underline;
}

.form-group label {
    margin: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    display: inline-block;
}

.form-group input {
    border: 1px solid hsl(208, 63%, 18%);
    border-radius: 10px;
    font-size: 18px;
    padding: 10px 15px;
    box-sizing: border-box;
    outline: none;
    width: 100%;
    max-width: 100%;
    resize: none;
}

.form-group input::placeholder {
    opacity: 0.5;
}

input[type="checkbox"] {
    margin: 3px;
    width: auto;
    height: auto; 
    accent-color: #17df49; 
}

.label-terms {
    margin-left: 10px;
    
}

.form-button {
    padding: 15px 15px;
    background: #BCD0E9;
    color: #00306B;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;   
    transition: filter 0.3s ease;
    width: 100%;
    font-family: "Montserrat", sans-serif;
}

.form-button:hover {
    filter: brightness(1.1);
}

.toggle-text {
    text-align: center;
    margin-top: 15px;
    color: #fff;
}

.toggle-link {
    cursor: pointer;
    font-weight: bold;
    transition: border-bottom 0.3s ease;
    border-bottom: 1px solid transparent;
}

.toggle-link:hover {
    border-bottom: 1px solid #FFF;
    width: 100%;
}



.loading-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
    position: relative;
}

.spinner {
    width: 30px;
    height: 30px;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #000;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.success-message {
    color: green;
    margin-bottom: 1rem;
}

.error-message {
    color: #ffcccc;
    text-align: center;
    margin: 5px;
}

.password-strength {
    margin-top: 5px;
    font-size: 0.9rem;
}

.password-strength.strong {
    color: green;
}

.password-strength.moderate {
    color: orange;
}

.password-strength.weak {
    color: red;
}



@media (max-width: 768px) {
    .auth-form-wrapper {
        padding: 20px;
    }

    .form-button {
        padding: 8px 12px;
    }

    .form-group {
        flex-direction: column; 
        align-items: flex-start;
        gap: 5px;
        
    }
    .form-group input {
        padding: 10px; 
        font-size: 16px; 
        width: 100%; 
        box-sizing: border-box;
    }
    input[type="checkbox"] {
        margin-bottom: 5px; 
    }
    .terms-link p{
        position: relative;
        bottom: 3px;
    
    }
}