.chat-list-container {
  display: flex;
  margin-top: 150px;
  overflow: auto;
  flex-direction: column-reverse;
}

.chat-sidebar {
  width: 100%;
      /* height: 100vh; */
  /* background: linear-gradient(135deg, #00328d, #2a70c9); */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.4s ease-in-out;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
}

.chat-sidebar .container {
  width: 100%;
}
/* 
.chat-sidebar.slide-in {
  transform: translateX(0);
}

.chat-sidebar.slide-out {
  transform: translateX(-100%);
} */

.chat-header {
  text-align: center;
  padding: 20px;
  background-color: #ffffff6b;
  font-size: 18px;
}

.chat-header h1 {
  margin: 0;
  font-size: 22px;
  color: #00328d;
}

.chat-header p {
  margin: 5px 0 0;
  font-size: 14px;
  opacity: 0.8;
}

.user-selector {
  display: flex;
  gap: 30px;
  padding: 20px 0 0 0;
  /* background-color: #00328d; */
}

.user-selector select {
  width: 100%;
  height: 50px;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  color: #00328d;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

.user-selector select:focus-visible {
  border: none;
}

.user-selector button {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 50px;
  border: none;
  background: #BCD0E9;
  color: #00306B;
  padding: 10px 23px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: filter 0.3s ease;
}

.user-selector button:hover {
  filter: brightness(1.1);
}

.conversation-list {
  flex: 1;
  overflow-y: auto;
  height: 70vh;
  padding: 0 15px 0 15px;
}

.conversation-list h2 {
  font-size: 40px;
  font-weight: 600;
  color: #00306B;
}

.conversation-item {
  padding: 15px;
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.conversation-item:hover {
  background: rgba(255, 255, 255, 0.3);
  transform: scale(1.02);
}

.conversation-item p {
  margin: 0;
  font-size: 20px;
  color: #00306B;
}

.error-message {
  color: #ffcccc;
  font-size: 14px;
  margin-top: 10px;
}

.no-conversation-message {
  padding: 20px;
  display: none;
  text-align: center;
  color: #777;
}