.courses-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    scroll-margin-top: 100px;
}

.courses-menu {
    display: flex;
    gap: 83px;
    align-items: center;
}

.courses-menu-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 99;
}

.courses-menu-links a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 800;
    font-size: 28px;
    filter: brightness();
    transition: font-weight 0.3s ease;
    /* border-bottom: 3px solid transparent; */
}

.courses-menu-links a:hover {
    text-decoration: underline;
    font-weight: 900;
    /* transform: scale(1.1); */
    filter: opacity(0.8);
}

.poloska.third {
    bottom: -140px;
    left: 50%;
    transform: translate(-50%, 0);
}