.navbar {
    position: fixed;
    max-width: 1024px;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin: 15px 0;
    border-radius: 50px;
    background-color: #00328d;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease; */
    height: 83px;
    z-index: 999;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .navbar-logo {
    width: 76px;
    height: 57px;
    cursor: pointer;
  }

  .navbar-logo img {
    width: 100%;
    height: 100%;
  }
  
  /* .navbar-logo-text {
    text-decoration: none;
    color: whitesmoke;
    font-size: 1rem;
  } */
  
  .navbar-icon {
    font-size: 1.5rem;
    cursor: pointer;
    color: #ffffff;
  }

  .nabar-lk {
    background: #BCD0E9;
    color: #00306B;
    padding: 10px 23px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: filter 0.3s ease;
  }

  .nabar-lk:hover {
    filter: brightness(1.1);
  }

  .poloska {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .poloska img {
    width: 95%;
    max-width: 1600px;
  }
  
  .sidebar {
    position: fixed;
    top: 6em;
    right: 0;
    width: 250px;
    height: auto;
    background-color: #00328d;
    color: white;
    padding: 5px 20px;
    /* box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3); */
    z-index: 1000;
    border-radius: 20px;
  }
  
  .sidebar-menu {
    list-style: none;
    padding: 0;
  }
  
  .sidebar-menu li {
    margin: 20px 0;
  }
  
  .sidebar-menu a,
  .sidebar-menu button {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .sidebar-menu button:hover,
  .sidebar-menu a:hover {
    text-decoration: underline;
  }
  
  .close-btn {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }

  .navbar-menu {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }

  .navbar-menu a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: normal;
  }

  .navbar-menu a:hover {
    text-decoration: underline;
  }