/* index.css */

/* CSS Reset to remove browser-specific styles */

/* @import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

html, body {
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #00306B;
}

#root {
  display: flex;
  flex-direction: column;
  background: linear-gradient(#FAF1CE, #B8CEDD, #80B0EA, #51A0FF);
  margin: 0;
  padding: 0;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
}

h1 {
  font-size: 50px;
  margin: 40px 0 40px 0;
  font-weight: 600;
}

h2 {
  font-size: 40px;
  margin: 40px 0 40px 0;
  font-weight: 600;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 24px;
  font-weight: 600;
}

p {
  margin: 0 0 1rem 0;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/* ul, ol {
  margin: 0 0 1rem 0;
  padding-left: 1.25rem;
} */

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.posrel {
    position: relative;
    width: 100%;
}